<h1>API</h1>
<pre>Aktuelle Version: {{version}}</pre>

<h3>Tagging</h3>

<ul class="collapsible" data-collapsible="expandable">
    <li>
        <div class="collapsible-header">
            <div class="html-method get">
                GET
            </div>
            api/v{{version}}/tag
            <a href="{{taggingRoute}}"><i class="material-icons right">play_circle_outline</i></a>
        </div>
        <div class="collapsible-body">
            <span>Gibt die Erfassungs-Ansicht für 8 Input-Punkte zurück.</span>
        </div>
    </li>
    <li>
        <div class="collapsible-header">
            <div class="html-method post">
                POST
            </div>
            api/v{{version}}/tag
        </div>
        <div class="collapsible-body">
            <span>Erstellt ein Tagging für 8 Input-Punkte und gibt die Antwort als JSON züruck.</span>
        </div>
    </li>
</ul>






<h3>Speed Calculation</h3>

<ul class="collapsible" data-collapsible="expandable">
    <li>
        <div class="collapsible-header">
            <div class="html-method get">
                GET
            </div>
            api/v{{version}}/calculateSpeed
            <a href="{{speedCalculationRoute}}"><i class="material-icons right">play_circle_outline</i></a>
        </div>
        <div class="collapsible-body">
            <span>Gibt die Erfassungs-Ansicht für 2 Input-Punkte zurück.</span>
        </div>
    </li>
    <li>
        <div class="collapsible-header">
            <div class="html-method post">
                POST
            </div>
            api/v{{version}}/calculateSpeed
        </div>
        <div class="collapsible-body">
            <span>Erstellt eine Geschwindigkeitsberechnung für 2 Input-Punkte und gibt die Antwort als JSON züruck.</span>
        </div>
    </li>
</ul>


<script type="text/javascript" src="/javascripts/api-script.js"></script>