<!--TODO: Implement-->
<p>API</p>
<pre>Current Version: {{currentVersion}}</pre>
<pre>Tagging-Route: <a href="{{taggingRoute}}">{{taggingRoute}}</a></pre>
<pre>Speed-Calculation-Route: <a href="{{speedCalculationRoute}}">{{speedCalculationRoute}}</a></pre>