<h1>{{title}}</h1>

<div class="result">
    <p>Tag: {{tag}}</p>
    <p>Probability: {{probability_0to1}} (Max: 1)</p>
</div>

<div id="map"></div>

{{{printItems coordinates}}}

{{#each results}}
    <h2>Result:</h2>
    <hr />
    {{#each this}}
        <h3>ID: {{id}}</h3>
        <p>OSM_ID: {{osm_id}}</p>
        <p>OSM_Name: {{osm_name}}</p>
        <p>Clazz: {{clazz}}</p>
        <p>ST_Distance{{st_distance}}</p>
    {{/each}}
{{/each}}


<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script type="text/javascript" src="/javascripts/initMap.js"></script>
<script type="text/javascript" src="/javascripts/setMarkers.js"></script>